.general {
    background-color: black;
    color: white;
    padding: 85px 40px 30px 40px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 50px;
}

#overview {
    padding-left: 50px;
}

#overview h2 {
    font-weight: bold;
    font-size: 36px;
}

#overview h3 {
    font-size: 36px;
}

#overview h4 {
    font-size: 21px;
    font-weight: 500;
}
